.nav-bar{
  height: 60px;
  background-color: #242526;
  padding: 0 1rem;
  border-bottom: 1px solid #474a4d;

  >ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  >.item{
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
}